## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
clean_hotel_df=vacation_df.dropna()
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,8,Rikitea,PF,76.55,broken clouds,-23.1203,-134.9692,Pension Maro'i
1,14,Eyl,SO,79.90,clear sky,7.9803,49.8164,Amiin Hotel
2,17,Padang,ID,79.99,overcast clouds,-0.9492,100.3543,Mercure Padang
3,20,Kalmunai,LK,81.09,overcast clouds,7.4167,81.8167,VS Villa
4,24,Georgetown,MY,83.89,few clouds,5.4112,100.3354,Cititel Penang

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Weather</dt><dd>{Current Description} {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
cur_desc = clean_hotel_df["Current Description"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
city = vacation_df
preferred_cities_df = city.loc[city['Country'] == 'PF'].head(4)
preferred_cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,8,Rikitea,PF,76.55,broken clouds,-23.1203,-134.9692,Pension Maro'i
21,77,Atuona,PF,78.73,scattered clouds,-9.8000,-139.0333,Villa Enata
64,209,Faanui,PF,81.50,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
231,695,Teahupoo,PF,82.40,few clouds,-17.8333,-149.2667,Vanira Lodge

In [9]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
city = vacation_df
preferred_cities_df = city.loc[city['Country'] == 'PF'].head(4)
preferred_cities_df
vacation_start = vacation_df.loc[vacation_df["City"] == "Rikitea"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Rikitea"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Atuona"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Faanui"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Teahupoo"]

In [14]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end   = vacation_end['Lat'].values[0], vacation_start['Lng'].values[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]
print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

[ -23.1203 -134.9692]
(-23.1203, -134.9692)
[  -9.8    -139.0333]
[ -16.4833 -151.75  ]
[ -17.8333 -149.2667]

In [16]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,8,Rikitea,PF,76.55,broken clouds,-23.1203,-134.9692,Pension Maro'i
1,77,Atuona,PF,78.73,scattered clouds,-9.8000,-139.0333,Villa Enata
2,209,Faanui,PF,81.50,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
3,695,Teahupoo,PF,82.40,few clouds,-17.8333,-149.2667,Vanira Lodge

In [18]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))